%h1= t('summaries.references.headline') % @application.contact.name

%p= t('summaries.references.count', count: @summary[:count])

- @summary[:questions].each do |question, summary_type, answers, all_answers|
  %h2= question
  = render partial: summary_type.to_s, locals: { answers: answers, all_answers: all_answers, internal: false }

%p.other= t('summaries.references.other')
