%h1= "Referenz von #{@reference.contact.name} bearbeiten"

= semantic_form_for([:admin, @reference]) do |f|
  %h2 Angaben zur Person
  = render partial: "contacts/form", locals: { form: f }
  = render partial: 'shared/questions', locals: { form: f, answers: :referee_answers }

  - if @reference.reference_answers.any?
    %h2 Fragen
    = render partial: 'shared/questions', locals: { form: f, answers: :reference_answers }

  = f.actions do
    = f.submit "Speichern"
