- add_subnavigation_item "bearbeiten", edit_admin_reference_path(@reference.id)

%h1= "Referenz von #{@reference.contact.name}"

%h2 Referent
= render :partial => "admin/contacts/details", locals: { contact: @reference.contact }
- if @reference.referee_questions.any?
  = render :partial => "admin/answers/table", locals: { answers: @reference.referee_answers }

- if @reference.reference_questions.any?
  %h2 Antworten
  = render :partial => "admin/answers/table", locals: { answers: @reference.answers }

