%h1 Um ein Stipendium bewerben - Schritt 1/2

- unless @campaign.applicant_introduction_text.blank?
  .introduction= simple_format(@campaign.applicant_introduction_text)

= semantic_form_for([ @campaign, @application ]) do |f|
  = f.semantic_errors

  %h2 Angaben zur Person
  = render partial: 'contacts/form',    locals: { form: f, password: true }
  = render partial: 'shared/questions', locals: { form: f, answers: :applicant_answers }

  = f.actions do
    = f.submit "Weiter"
