%h1 Für ein Stipendium Bewerben

- unless @campaign.applicant_introduction_text.blank?
  .introduction= simple_format(@campaign.applicant_introduction_text)

= semantic_form_for([ @campaign, @application ]) do |f|
  = f.semantic_errors

  %h2 Angaben zur Person
  = render partial: 'contacts/form',    locals: { form: f }
  = render partial: 'shared/questions', locals: { form: f, answers: :applicant_answers }

  %h2 Fragen
  = render partial: 'shared/questions', locals: { form: f, answers: :application_answers }

  = f.actions do
    = f.submit "Jetzt bewerben"
