= form.semantic_fields_for answers do |answer|
  = answer.semantic_errors
  = answer.inputs do
    = answer.input *answer.object.question.input_element
    = answer.input :question_id, as: :hidden, input_html: { value: answer.object.question.id }
