- if applications.size > 0
  %table.applications
    %thead
      %tr
        %th Name
        %th E-Mail
        - if @campaign.application_questions.any?
          %th Antworten
        %th Referenzen
        %th Fertig
        %th Erstellt
        %th Verändert
    %tbody
      - applications.each do |application|
        - campaign = application.campaign
        %tr
          %td= link_to application.contact.name, admin_application_path(application.id)
          %td= application.contact.email
          - if @campaign.application_questions.any?
            %td= application.application_answers?
          %td= "#{application.references.size}/#{application.campaign.required_reference_count}"
          %td= application.complete?
          %td= l application.created_at
          %td= l application.updated_at
- else
  %p Es gibt noch keine Anträge
