- add_subnavigation_item "Referenze-Formular", new_campaign_application_reference_url(@application.campaign, @application)
- add_subnavigation_item 'Bewerber-Formular (Schritt 2)', edit_campaign_application_path(@application.campaign, @application)
- add_subnavigation_item 'Auswertung Referenzen', references_admin_application_summary_path(@application.id)
- add_subnavigation_item "bearbeiten", edit_admin_application_path(@application.id)

%h1= "Antrag von #{@application.contact.name}"

%h2 Bewerber
= render :partial => "admin/contacts/details", locals: { contact: @application.contact }
- if @application.applicant_questions.any?
  = render :partial => "admin/answers/table",  locals: { answers: @application.applicant_answers }

- if @application.application_questions.any?
  %h2 Antworten
  = render :partial => "admin/answers/table",  locals: { answers: @application.application_answers }

%h2 Referenzen
= render :partial => "admin/references/table", locals: { references: @application.references }

