= semantic_form_for [:admin, @campaign] do |f|
  = f.inputs do
    = f.input :name
    = f.input :applicant_introduction_text
    = f.input :application_introduction_text, hint: "Platzhalter: %{reference_link} - Referenz-Formular; #%{edit_link} - Schritt 2"
    = f.input :application_success_text, hint: "Platzhalter: %{reference_link} - Referenz-Formular; #%{edit_link} - Schritt 2"
    = f.input :open_to_applicants
    = f.input :referee_introduction_text
    = f.input :reference_success_text
    = f.input :required_reference_count
    = f.input :open_to_referees

  = f.actions do
    = f.action :submit, as: :button, label: 'speichern'
