= semantic_form_for [:admin, @campaign] do |f|
  = f.inputs do
    = f.input :name
    = f.input :referee_introduction_text
    = f.input :required_reference_count

  = f.actions do
    = f.action :submit, as: :button, label: 'speichern'
