- if campaigns.size > 0
  %table.campaigns
    %thead
      %tr
        %th Name
        %th
        %th
        %th Link for Applications
        %th Actions
    %tbody
      - campaigns.each do |campaign|
        %tr
          %td= campaign.name
          %td= link_to 'Fragen ansehen', admin_campaign_questions_path(campaign_id: campaign.id)
          %td= link_to 'öffentlicher Link', new_campaign_application_url(campaign)
          %td= link_to new_campaign_application_url(campaign), new_campaign_application_url(campaign)
          %td
            = link_to "Show Campaign", admin_campaign_path(campaign)
            |
            = link_to "Edit Campaign", edit_admin_campaign_path(campaign)
- else
  %p None
