%div{"id" => "contact_form"}
  %p
    = label :contact, :title, "Anrede"
    = text_field :contact, :title
  %p
    = label :contact, :first_name, "Vorname"
    = text_field :contact, :first_name
  %p
    = label :contact, :last_name, "Nachname"
    = text_field :contact, :last_name
  %p
    = label :contact, :organisation, "Organization"
    = text_field :contact, :organisation
  %p
    = label :contact, :email, "E-Mail Addresse"
    = text_field :contact, :email
  %p
    = label :contact, :website, "Website"
    = text_field :contact, :website
  %p
    = label :contact, :street_name, "Strasse"
    = text_field :contact, :street_name
  %p
    = label :contact, :house_number, "Hausnummer"
    = text_field :contact, :house_number
  %p
    = label :contact, :birthdate, "Gerbürtsdatum"
    = date_select :contact, :birthdate, :start_year => (Time.now.year - 25), :end_year => (Time.now.year - 100)
  %p
    = label :contact, :sex, "Geschlect"
    %p
      M
      = radio_button :contact, :sex, "m"
    %p
      W
      = radio_button :contact, :sex, "f"
  %p
    = label :contact, :nationality, "Nationalität"
    = text_field :contact, :nationality 
