%p
  %b Name:
  = "#{contact.last_name}, #{contact.first_name}"
%p
  %b E-Mail:
  = "#{contact.email}"
%p
  %b Organisation:
  = "#{contact.organisation}"
%p
  %b Website:
  = "#{contact.website}"
%p
  %b Address:
  = "#{contact.street_name} #{contact.house_number}, #{contact.postcode} #{contact.city}"
