%h1 neue Frage

= semantic_form_for [:admin, :campaign, @question] do |f|
  = f.inputs do
    = f.input :for_application, as: :select, collection: { 'für Bewerber' => true, 'für Referenzen' => false}
    = f.input :text

  = f.actions do
    = f.action :submit, as: :button, label: 'Fragen anlegen'
