%h1 neue Frage

= semantic_form_for [:admin, :campaign, @question] do |f|
  = f.inputs do
    = f.input :for_application, as: :select, collection: { 'für Bewerber' => true, 'für Referenzen' => false}
    = f.input :type, as: :select, collection: { 'Text' => 'Question::Text', 'Bewertung' => 'Question::Rate', 'Auswahl' => 'Question::Select'}
    = f.input :options, hint: 'nur für "Auswahl"; kommagetrennte Werte'
    = f.input :text

  = f.actions do
    = f.action :submit, as: :button, label: 'Fragen anlegen'
