%h1= "#{@campaign.name} - Referenzen"

- if @campaign.referee_introduction_text.present?
  .introduction= simple_format(@campaign.referee_introduction_text)

= semantic_form_for([ @campaign, @application, @reference ]) do |f|
  %h2 Angaben zur Person
  = render partial: "contacts/form", locals: { form: f }

  %h2 Fragen
  = render :partial => 'shared/questions', :locals => { form: f }

  = f.actions do
    = f.submit "Submit"
